.AddProduct {
    margin: 20px auto;
    -webkit-box-shadow: 0px 0px 4px 4px rgb(0 0 0 / 6%);
    box-shadow: 0px 0px 4px 4px rgb(0 0 0 / 6%);
    border-radius: 5px;
    width: 1400px;
    background-color: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0 0;


}

.AddProduct>h2 {
    margin: 10px 0;
    color: #eee;
    margin-bottom: 20px;
}

.AddProduct .IconContainer {
    background-color: #56ad00;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;
}

.AddProduct .prodtype {
    width: 100%;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0px 0px 4px 4px rgb(0 0 0 / 6%);
    box-shadow: 0px 0px 4px 4px rgb(0 0 0 / 6%);
    border-radius: 5px 0 0 5px;
}

.AddProduct .prodtype span {
    text-align: center;
    width: 100%;
    padding: 10px;
    color: #99999966;
    cursor: pointer;
    font-size: 18px;
}

.AddProduct .prodtype .active {
    background-color: #3c3c3c;
    color: #ddd;
}

.AddProduct .form {
    width: 100%;
    background-color: #3c3c3c;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;

}

.AddProduct .form .Pdata {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.AddProduct .Pdata>div {
    display: flex;
    flex-direction: column;
    background-color: #444;
    width: 650px;
    position: relative;
    padding-top: 70px;
    border-radius: 5px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 4px 4px rgb(0 0 0 / 6%);
    box-shadow: 0px 0px 4px 4px rgb(0 0 0 / 6%);

}

.AddProduct .PImages {
    height: 530px;
}

.AddProduct .Pdata .secHeader {
    width: 100%;
    position: absolute;
    top: -30px;
    left: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.AddProduct .secHeader .Hcontainer {
    background-color: #555;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 4px 4px rgb(0 0 0 / 6%);
    box-shadow: 0px 0px 4px 4px rgb(0 0 0 / 6%);
    color: #ccc;
}

.AddProduct .secHeader>p {
    color: #ccc;
    font-size: 18px;
    padding-top: 10px;
}


.AddProduct .form .submButton {
    width: 90%;
    margin: 5px 0;
    padding: 10px;
    color: white;
    background-color: #56ad00;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
}

.AddProduct .form .submButton:disabled {
    background: #666;
    cursor: not-allowed;
    opacity: .5;
}

